<h1>Welcome To New Job Post</h1><br>
<link type="stylesheets" href="sytlesheets/jobs.css">
<div class="log">
<%= button_to "Login", login_path, method: :get%>
</div>
<%= button_to "Sign Up", new_user_path, method: :get%>